body, html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: arial;
}

body {
    padding-right: 8px;
}

h1 {
    margin: 0;
    padding:0.2em;
    text-align: center;
}

.editBlock {
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    padding: 1em;
    padding-left:4em;
    margin: 0;
    margin-top:150px;
    box-sizing: border-box;

}

.ace_editor, .editBlock button {
    display:none;
}

.editBlock pre {
    width: 100%;
    margin: 0;
}

.viewContainer {
    float: right;
    width: 80%;
}

#loader {
    display: inline-block;
    background-size: 100% 100%;
    background-image: url(../webapp/images/spinner.svg);
    width: 20px;
    height: 20px;
    margin-left:30px;
}

.boundsTable {
    border-collapse: collapse;
}

.boundsTable td {
    border: dashed gray 1px;
    padding: 3px;
}

.ThreeDView {
    border: solid silver 1px;
    background: #d9d9d9;
    height: 400px;
    position: relative;
}

.TwoDView {
    border: solid gray 1px;
    background: #FFF;
    height: 400px;
}

#app {
    position: relative;
}




.ThreeDView, .TwoDView {
    height: 900px;
    position:absolute;
    right: 300px;
    left: 0px;
}

#app .TwoDView{
    opacity: 0;
    pointer-events:none;
}

body.v2d #app .TwoDView{
    opacity:1.0;
    pointer-events: auto;
}


menu {
    position:absolute;
    width:300px;
    right:0px;
    top:0px;
    text-align: right;
    padding-right: 10px;
    display:none;
}

menu span {
    cursor: pointer;
    font-family: courier, monospace;
    margin: 0.4em;
    border-radius: 0.5em;
    padding: 0.4em 0.6em;
    font-size: 0.9em;
    color: black;
}



menu span:hover {
    text-decoration: underline;
}


menu span.view3d {
    background: rgb(215,45,78);
    color: white;
}

menu span.view2d {
    background: none;
    color: black;
}

body.v2d menu span.view3d {
    background: none;
    color: black;
}

body.v2d menu span.view2d {
    background: rgb(215,45,78);
    color: white;
}




#create-stats {
    position:absolute;
    width:300px;
    right:0px;
    padding: 1em;
    padding-top:0em;
    box-sizing: border-box;
}

#create-stats:before {
    content: url(../images/create-op-small.png);
    display: block;
    text-align: center;
    margin-left: -1em;
}

#create-stats p#filament-usage{
    text-align:center;
    margin-top: -13px;
    padding-left:4em;
    width: 130px;
}

#create-stats p {
    padding-left:3em;
}


.TwoDView * {
    
}

.paper * {
    stroke: #c26518 !important;
    stroke-opacity: 0.3;
}






